body{
	background-color: #BDB76B;
	text-align: center;
}
h1,h3{
	text-align: center;
	
}
td{
	border-radius: 10px;
	background-color: white;
	border: 1px;
	width: 100px;
	height: 100px;
	text-align: center;
}	
table{
	margin: 20px auto;
}
button{
	color: grey;
	padding: 20px;
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
}
